<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - studio</title>
    <link rel="stylesheet" href="/static/bulma/styles.css" />
    <link rel="stylesheet" href="/static/studio.css" />
</head>
<body>
    <section class="section pt-0">
        @RenderBody()
    </section>
    <script src="/static/studio.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
