@using System.Collections.Generic
@using Digitalisert.Dataplattform.Studio.Models
@model IEnumerable<ResourceModel.Resource>

@{
    ViewData["Title"] = "Resource Page";
}

<partial name="~/Views/Shared/_Topbar.cshtml" model="ViewBag.ResourceQuery" />

@if (Model.Any(r => r.Tags.Contains("@wkt")))
{
  <partial name="~/Views/Shared/_Map.cshtml" />
}

<div class="grid-container fluid">
  @if (Model.Skip(1).Any())
  {
    <partial name="~/Views/Shared/_Accordion.cshtml" />
  }
  else if (Model.Any())
  {
    <partial name="~/Views/Shared/_Resource.cshtml" model="Model.First()"/>
  }
</div>
